.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #f7f5ee;
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #6dbf6e;
  transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
  
}

.circle.center {
  width: 150px;
  height: 150px;
  transform: translateX(0);
  z-index: 2;
  opacity: 1;
}

.circle.right {
  width: 100px;
  height: 100px;
  transform: translateX(150%);
  z-index: 1;
  opacity: 0.8;
}

.circle.left {
  width: 100px;
  height: 100px;
  transform: translateX(-150%);
  z-index: 1;
  opacity: 0.8;
}

.circle.hidden {
  width: 80px;
  height: 80px;
  transform: translateX(300%);
  z-index: 0;
  opacity: 0;
}

.animating {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.navButton:hover {
  color: #333;
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}
